.block .connector {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-color: grey;
    background-color: transparent;
    border-width: 2px;
    border-style: solid;
    box-sizing: border-box;
    background: white;
}
.block .connector.destination {
    background: transparent;
}
.block .connector.top {
    left: 50%;
    top: 0;
    margin-left: -5px;
    margin-top: -5px;
}
.block .connector.bottom {
    left: 50%;
    bottom: 0;
    margin-left: -5px;
    margin-bottom: -5px;
}