.block {
    z-index: 2;
}
.block .connector {
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border-color: grey;
    background-color: transparent;
    border-width: 3px;
    border-style: solid;
    box-sizing: border-box;
    background: white;
}
.block .connector.destination {
    background: transparent;
}
.block .connector.top {
    left: 50%;
    top: 0;
    margin-left: -7px;
    margin-top: -7px;
}
.block.ui-draggable-dragging {
    z-index: 5;
}
.block .connector.bottom {
    left: 50%;
    bottom: 0;
    margin-left: -7px;
    margin-bottom: -7px;
}

.highlight {
    z-index: 3;
    background: green;
    opacity: 0.1;
    position: absolute;
}
.highlight.invalid {
    background: red;
}
.layout {
    z-index: 0;
}
.plot {
    z-index: 1;
    position: absolute;
    top: 1;
    left: 1;
    width: 100%;
    height: 100%;
}